.navbar {
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
    margin: 0;
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}

.navbar-title {
    color: white;
    margin: 0;
}
.navbar-title .yellow{
    color: #f7df1e;
}

.navbar .links a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar .links a:hover {
    background-color: #ddd;
    color: black;
}